#container-countdown {
    display: flex;
    justify-content:center;
}

#countdown {
    font-size: 60px;
    margin-top: 100px;
    background: linear-gradient(to right, #004c58, #b39f5f);
    border-radius: 100%;
    padding: 30px;
    color: #b39f5f;
}

#myVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#myButtonOne, #myButtonTwo{
    display: none;
}